* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

html,body {
    background-color: #fff;
    color: #404040;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
    color: #000;
}

.nav_bar{
    display: block;
    height: 50px;
    width: 100%;
    border-bottom: #ccc thin;
    border-width: 1px;
    box-shadow: 0 2px 1px #efefef;
    overflow: hidden;
}

.main_nav{
    height: 100%;
    width: 80%;
    float: left;
}


.side_nav{
    float: right;
    width: 20%;
    height: 100%;    
}

.main_nav .home_img{
    height: 50px;
    width: auto;
    float: left;
    margin-right: 10px;
}

.img_row{
    height: 200px;
    width: 200px;
    margin: 0;
    position: absolute;
}

.slid{
    
}

ul{
    list-style: none;  
}

.main_nav .nav_btns{
    position: relative;
    height: 50px;
    float: left;
    display: inline-block;
    font-size: 75%;
    color: #000;
    text-align: center;
    padding: 15px 15px;
    border-color: #f1f1f1;
    border-style: hidden;
    border-width: 2px;
    box-shadow: 0 2px 1px #efefef;
}

.side_nav .side_btns{
    position: relative; 
    height: 50px;
    float: right;
    display: inline-block;
    font-size: 75%;
    color: #000;
    text-align: center;
    padding: 15px 15px;
    background-color: #93d7c3;
    border-color: #93d7c3;
    border-style: hidden;
    border-width: 2px;
    box-shadow: 0 2px 1px #efefef;
}

/*.nav_btns .dropdown{
    text-decoration: none;
    display: none;
    font-size: 70%;
    position: absolute;background-color: #f9f9f9;
    
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    padding: 3px 5px;
}*/

.dropdown{
    text-decoration: none;
    display: none;
    font-size: 70%;
    position: absolute;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    padding: 3px 5px;
    z-index: 1;
}

.dropback2{
    background-color: #93d7c3 
}

.dropback1{
    background-color: #fff 
}

.dropdown a{
    display: block;
    text-align: left;
}

.nav_btns:hover,
.nav_btns:active,
#submit:hover,
#submit:active{
    background-color: #dddddd;
}


.side_btns:hover,
.side_btns:active{
    background-color: #3ca385;
}
.hidbtn{
    display:none;
}

.drop_btn1{
    position: relative;
}

.drop_btn1:hover + .dropdown,
.dropdown:hover{
    display: inline-block;
}

.dropdown a:hover{
    border-bottom: 1px solid #ccc;
}

.search_section{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.54),rgba(0,0,0,0.54)),url("../imgs/farm-img.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
    padding-top: 50px
}

#search_bar{
    width: 30%;
    height: 30px;
    font-size: 85%;
    text-indent: 3px;
}

#selector{
    font-size: 85%;
    padding: 3px;
}

#submit{
    font-size: 85%;
    padding: 3px;
    background-color: #fff;
    border-radius: 3px;
}

.slideloop {
    position: relative;
    width: 100%;
    height: 220px;
    display: inline-block;
    overflow: hidden; 
}


